<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <title>DMYX Community</title>
</head>
<body style="height: 100%; background-image: url({{ url_for('static', filename='background.jpg') }});
         background-repeat:no-repeat; background-attachment:fixed; background-size:cover">
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block body %}
{% endblock %}
</body>
</html>